.card {
  width: 50%;
  background-color: var(--bg-card);
  padding: 2%;
  border: 10px solid var(--bg-main);
  border-radius: 15px;
}

.card_header {
  height: 80%;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.card_header_image {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.card_header_identity {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

.card_header_identity_name {
  font-size: 1.5em;
}

.card_header_identity_course {
  font-size: 0.9em;
  padding-top: 30%;
  display: flex;
  flex-direction: column;
}

.card_main {
  height: 20%;
  display: flex;
  padding: 2%;
}

.card_main_skills,.card_main_social {
  padding: 1%;
}

.card_main_skills {
  width: 60%;
  display: flex;
}

.card_main_skills_title {
  font-size: 0.8em;
  font-weight: 400;
}

.card_main_skills_text {
  font-size: 0.7em;
  color: var(--font-skills-color);
}

.card_main_line {
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ff55ff;
}

.card_main_social_links {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.card_main_social_links img {
  width: 15%;
}
