@import '../utils.css';
@import './header.css';
@import './main_ficha.css';
@import './card.css';
@import './mediaQuery.css';

:root {
  /* GLOBAL VARS */
  --global-font-color: #ffffff;
  --line-color: #ffb547;

  /* HEADER VARS */
  --bg-header: #1d243e;

  /* MAIN VARS */
  --bg-main: #111526;

  /* FICHA VARS */
  --bg-ficha-button: #475893;
  --font-color-ficha-button: #efefef;
  --little-font-color: #afafaf;
  
  /* CARD VARS */
  --bg-card: #000000; 
  --font-skills-color: #aaaaaa;
}

body {
  height: 100vh;
  color: var(--global-font-color);
  background-color: var(--bg-main);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--bg-main);
  padding: 2%;
}

.cards {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cards_header {
  width: 100%;
}

#line {
  width: 100%;
  border-bottom: 4px solid var(--line-color);
}
