.main_ficha {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  padding: 2%;
}

.main_ficha_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  line-height: 50px;
}

.main_ficha_little_icon {
  position: relative;
  display: flex;
  justify-content: space-around;
  font-size: .8em;
  color: var(--little-font-color);
  margin: 1%;
}

.main_ficha_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-ficha-button);
  color: var(--font-color-ficha-button);
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 550;
  padding: 3%;
  text-wrap: nowrap;
  width: 100%;
  letter-spacing: 2px;
}
