@media only  screen  and (max-width: 860px){
    .main {
        flex-direction: column;
    }

    .card {
        font-size: 0.8em;
    }

    .main_ficha {
        width: 100%;
        padding: 2%;
        flex-direction: row;
    }

    .main_ficha_info {
        font-size: 1em;
    }
}

@media only  screen  and (max-width: 700px){
    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        border: none;
        margin-top: 1%;
        font-size: 1.5em;
    }

    .main_ficha_info {
        font-size: .9em;
        margin: 1%;
    }

    .header_title_logo {
        width: 12%;
    }

    .header_title {
        flex-direction: column;
    }
}

@media only  screen  and (max-width: 630px){
    .main_ficha {
        flex-direction: column;
    }
}