:root {
    --body_bg:#d0d0d0;
    --contain: bisque;
    --lat_esq: #1D243E;
    --lat_dir: #1E1E1E;
    --boto_tree: #BFC7E3;
    --back_color: #5169BD;
}

:root {
    --color: #EFEFEF;
}
