.tree {  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--boto_tree);
  padding: 1%;
}

.tree_header_text {
  color: var(--lat_esq);
  font-size: 1.8rem;
}

.tree_content {
  display: flex;
  flex-direction: column;
}

.tree_content_node {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tree_content_node_column {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tree_content_2_nodes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tree_content_3_nodes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tree_content_node_link {
  width: 95%;
  padding: 2%;
  margin: 2%;
  background-color: var(--back_color);
  border-radius: 6px;
  cursor: pointer;
}

