.pw {
    padding-left: 5%;
    padding-right: 5%;
}

.flex {
    display: flex;
}

.around {
    justify-content: space-around;
}

.bg-blue-light {
    background-color: var(--bg-red);
}