@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

.side_right {
  background-color: #121212;
  color: #fefefe;
  padding: 3%;
  display: flex;
  flex-direction: column;
  width: 75%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.side_right::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  scroll-padding: 1%;
}

.side_right::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.side_content {
  margin-top: 5%;
}

.side_content:nth-child(1) {
  margin: 0;
}

.side_content_node {
  padding-bottom: 3%;
}

.side_content_title {
  font-size: 1.2em;
  color: #fcb93d;
}

.side_content_icon {
  font-family: "Fira Code";
  color: #ffff57;
}

.side_content_title {
  margin-bottom: 100px !important;
}
