.tree {  height: 350px;
  font-size: 1.5rem;
  background-color: var(--boto_tree);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.tree_header_text {
  color: var(--lat_esq);
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.tree_content {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  margin: 10px;
}

.tree_content_node {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tree_content_node_link {
  width: 100%;
  margin: 0 5px;
  padding: 13px;
  margin: 5px;
  background-color: var(--back_color);
  border-radius: 5px;
  cursor: pointer;
}

.hb-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}

/* Config. Botões alinhamento arrows */

.meaning {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 !important;
}

.meaning div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.meaning div:last-of-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

/* Pseudo-Classes Botões */

/* SVG */

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.half_width {
  width: 50%;
}
